{% extends 'base.html' %}

{% block title %} Main Web-Seite {% endblock %}

{% block body %}
<br>
<br>
<form method="POST" action="/index/post">
<div class = "container" style = 'width: 500px; margin-top: 20px;'>
    <label for = "title" class = "form-label">Title</label>
    <select name = "title" class = "form-control"> <option value = "Frau Dr.">Frau Dr.</option><option value = "Frau Prof.">Frau Prof.</option><option value = "Frau">Frau</option><option value = "Herr Dr."> Herr Dr.</option><option value = "Herr Prof."> Herr Prof.</option>
    <option value = "Herr">Herr</option></select>
    <label for="firstName" class="form-label">First name</label> <input type="text" class="form-control" id="firstName" name = "firstName" placeholder="" value="" required="">
<label for="lastName" class="form-label">Last name</label> <input type="text" class="form-control" id="lastName" name = "lastname" placeholder="" value="" required="">
<label for="email" class="form-label">Email <span class="text-body-secondary"></span></label> <input type="email" class="form-control" name = "email" id="email" placeholder="you@example.com"> <br>
    <label for = "city" class = "from-label">City</label>   <span class="text-body-secondary"></span> <input type="text" class = "form-control" name = "city" id = "city" >
    <label for = "age" class = "from-label">Geb.Datum</label>   <span class="text-body-secondary"></span> <input type="date" class = "form-control" name = "age" id = "age" >
<label for="address" class="form-label">Address</label> <input type="text" class="form-control" id="address" name = "address" placeholder="1234 Main St" required=""><br>
 <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Senden</button> <button type="button" class="btn btn-outline-secondary btn-lg px-4">Abbrechen</button> </div>
</form>
{% endblock %}