{% extends 'base.html' %}

{% block title %} Main Web-Seite {% endblock %}

{% block body %}
<br>
<br>
<div class = "container"  style = 'width: 600px; margin: 18px;'>
<label for="firstName" class="form-label">First name</label> <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
<label for="lastName" class="form-label">Last name</label> <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
<input type = "radio" name = "geschlecht"> Mann <input type = "radio" name = "geschlecht"> Frau<br>
<label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label> <input type="email" class="form-control" id="email" placeholder="you@example.com">
<label for="address" class="form-label">Address</label> <input type="text" class="form-control" id="address" placeholder="1234 Main St" required=""><br>
 <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Senden</button> <button type="button" class="btn btn-outline-secondary btn-lg px-4">Abbrechen</button> </div>
{% endblock %}