<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Country</th>
      <th>Population</th>
      <th>Area (km2)</th>
      <th>Density (pop/km2)</th>
      <th>Population trend[citation needed]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>India</td>
      <td>1389637446</td>
      <td>3287263</td>
      <td>423</td>
      <td>Growing</td>
    </tr>
    <tr>
      <td>Pakistan</td>
      <td>242923845</td>
      <td>796095</td>
      <td>305</td>
      <td>Rapidly growing</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>165650475</td>
      <td>148460</td>
      <td>1116</td>
      <td>Growing</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>124214766</td>
      <td>377915</td>
      <td>329</td>
      <td>Declining[103]</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>114597229</td>
      <td>300000</td>
      <td>382</td>
      <td>Growing</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>103808319</td>
      <td>331210</td>
      <td>313</td>
      <td>Growing</td>
    </tr>
    <tr>
      <td>United Kingdom</td>
      <td>67791400</td>
      <td>243610</td>
      <td>278</td>
      <td>Growing</td>
    </tr>
    <tr>
      <td>South Korea</td>
      <td>51844834</td>
      <td>99720</td>
      <td>520</td>
      <td>Steady</td>
    </tr>
    <tr>
      <td>Taiwan</td>
      <td>23580712</td>
      <td>35980</td>
      <td>655</td>
      <td>Steady</td>
    </tr>
    <tr>
      <td>Sri Lanka</td>
      <td>23187516</td>
      <td>65610</td>
      <td>353</td>
      <td>Growing</td>
    </tr>
  </tbody>
</table>